//Color variables

//Component colors
$simple-addons-nav-header-bg: #3f51b5;
$simple-addons-nav-header-bg-hover: #fff;


//Common colors
$simple-addons-base-clr-alpha: #000;
$simple-addons-base-clr-beta: #fff;
